{% extends 'auctions/layout.html' %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    <h2>Watchlist:</h2>
    <div class="container-fluid">
        {% for listing in watchlist %}
        <a href="{% url 'listing' id=listing.listing.id %}">
            <div id="listing_index" class="row border border-3 border-info rounded-3">
                <div class="col-6">
                    <img id="img_index_view" src="{{ listing.listing.image }}">
                </div>
                <div class="col-6">
                    <div>
                        {{ listing.listing.title }}
                    </div>
                    <div>
                        Description {{ listing.listing.description }}
                    </div>
                    <div>
                        Category: {{ listing.listing.category }}
                    </div>
                    {% for bid in bids %}
                        {% if bid.listing == listing.listing %}
                                Price: {{ bid.amount}}$
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}